html, body{
  background-image: linear-gradient(0deg, #E6E6F5, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-wrapper-color{
  background-image: linear-gradient(-90deg, #7377c0, #6c70b9);
}

.brand-logo img {
  height: 55px;
  padding-top: 8px;
  padding-left: 5px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .brand-logo img {
    height: 50px;
    object-fit: cover;
  }
}

.login-fundo-logo{
  background-color: #6c70b9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .login-fundo-logo{
    display: none;
  }
}

.form-center-login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login{
  width: 50vw;
  padding-left: 100px;
}

@media screen and (max-width: 800px) {
  .form-login{
    padding-left: 50px;
  }
}
@media (max-width: 600px) {
  .form-login{
    padding-left: 0px;
    width: 100%;
  }
}

.login-logo-mobile{
  position: absolute;
  height: 50vw;
  max-height: 150px;
  margin:auto;
  top: 0;
  right: 0;
  left: 0;
  display: none;
}
@media (max-width: 600px) {
  .login-logo-mobile{
    display: block;
  }
}
@media (max-height: 500px) {
  .login-logo-mobile{
    height: 100px;
  }
}
@media (max-height: 350px) {
  .login-logo-mobile{
    height: 50px;
  }
}

.form-esqueci-senha{
  max-width: 500px;
  right:0;
  left:0;
  padding-top: 50px;
  margin:auto;
}

.font-esqueci-senha{
  padding-top: 2px;
  color: #6c70b9;
  font-size: 17px;
}

.padding-top-buttom{
  padding-top: 15px;
}

.user-view .background{
  background-image: linear-gradient(-90deg, #7A7DC4, #8098CF);
}

ul a .circle{
  object-fit: cover;
}


/* label focus color */
 .input-field input:focus + label {
   color: #7986cb !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #7986cb !important;
   box-shadow: 0 1px 0 0 #7986cb !important
 }

 /* Active/Inactive Valid input field color */
   .input-field input[type].valid,
   .input-field input[type].valid:focus,
   .input-field textarea.valid,
   .input-field textarea.valid:focus {
       border-bottom: 0.1px solid #a3a3a3;
       box-shadow: 0 0.1px 0 0 #a3a3a3;
   }

 .btn-hover-color:hover{
   background-color: #6c70b9 !important;
 }

 .btn-sidenav{
   margin-top: 10px;
   height: 45px;
   width: 45px;
   display:flex;
   align-items:center;
   background-color: transparent;
   object-fit: cover;
   transition-duration: 0.15s;
 }

 .btn-sidenav:hover{
   transition-duration: 0.15s;
   filter: grayscale(70%);
 }

 @media screen and (max-width: 600px) {
   .btn-sidenav{
     margin-top: 5px;
  }
}

.div-perfil{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.foto-perfil{
  height: 20vw;
  width: 20vw;
  max-height: 300px;
  max-width: 300px;
  min-height: 200px;
  min-width: 200px;
  object-fit: cover;
}



.highlight tr:hover{
  background-color: #ddd !important;
}

.foto-aluno{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.icon-edit{
  color: white;
  background-color: #7986cb;
  padding: 0.7vh;
  border-radius: 50%;
  position: absolute;
}

.foto-hover{
  transition-duration: 0.25s;
}

.foto-hover:hover{
  transition-duration: 0.25s;
  filter: grayscale(70%);
}



.box-tema label{
  position: relative;
  cursor: pointer;
}

.box-tema label img{
  border: 4px solid transparent;
  border-radius: 5px;
  padding: 0px;
}

.box-tema label input:checked ~ img{
  border: 4px solid #7986cb;
}

.badge-prof{
  position: relative;
  right: -11px;
  top: -10px;
  color: white;
  background-color: red;
  margin: 0 -.8em;
  border-radius: 50%;
  padding: 0px 6px;
}

@media (max-width: 425px) {
  .responsive-badge{
    display: none;
  }
}

.badge-prof-btn{
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 0px 6px;
top: -10px;
position: relative;
}

.btn-solicitacao{
  position: fixed;
    bottom: 40px;
    right: 30px;

}
